<h1>Olvidé mi contraseña</h1>
<h2>Ingresa tu email de usuario a restaurar la contraseña</h2>
<h3>Un email será enviado a tu cuenta de correo...</h3>
<form action="/api/sessions/forgot-pass" method="post">
  <labe>Email: </labe>
  <input type="email" name="email" required />
  <br />
  <br />
  <button type="submit" id="btnSend">Enviar email</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/forgot-pass.js"></script>