<h1>Iniciar sesión</h1>
<form action="/api/sessions/login" method="post">
  <labe>Email: </labe>
  <input type="email" name="email" />
  <br />
  <br />
  <labe>Contraseña: </labe>
  <input type="password" name="password" />
  <br />
  <br />
  <button type="submit">Ingresar</button>
  <a href="/api/sessions/github"><button type="button">Ingresar con GitHub</button></a>
  <button type="button" id="btnRegister">Registrarse</button>
</form>

<script src="js/login.js"></script>