<h1>Registrar usuario</h1>
<form action="/api/sessions/register" method="post">
  <labe>Nombre: </labe>
  <input type="text" name="first_name" />
  <br />
  <br />
  <labe>Apellido: </labe>
  <input type="text" name="last_name" />
  <br />
  <br />
  <labe>Email: </labe>
  <input type="email" name="email" />
  <br />
  <br />
  <labe>Contraseña: </labe>
  <input type="password" name="password" />
  <br />
  <br />
  <button type="submit">Crear usuario</button>
</form>