<h1>Restablecer mi contraseña</h1>
<h2>Ingresa la nueva contraseña</h2>

<labe>Email: </labe>
<input type="email" id="email" required />
<br />
<br />
<labe>Contraseña: </labe>
<input type="password" id="password" required />
<br />
<br />
<button type="button" id="btnReset">Restablecer</button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/reset-pass.js"></script>